#root {
  width: 100%;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  height: 60px;
  padding: 4% 8%;
}

.navbar h1 {
  font-size: 48px;
  line-height: 2em;
  font-weight: 700;
  color: #2a8ff7;
}

.nav-left {
  display: flex;
  gap: 70px;
  align-items: center;
}

.nav-right {
  display: flex;
  font-size: 40px;
  color: #2a8ff7;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-size: 20px;
  color: #7b7b7b;
  list-style: none;
}
